<head>
  <meta name ="viewport" content="with=device-width, inital-scale=1,0"></meta>
  <title> Start Young UK </title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
</head>
<head>
<h1>Child Registration Form - School</h1>
</head>
<body>
    <h2>Registration</h2>

    <form form action="{{ url_for('school') }}" method="post">
      <div class="SchoolID">
        <div class="Childinput-box"></div>
          <label for="SchoolID">School ID:</label><br>
          <input type="number" id="SchoolID" name="SchoolID"><br><br>
        </div>
      </div>

      <div class="PrimaryParentDetails">
        <h3>Primary Parent Details</h3>
        <div class="Childinput-box">
          <label for="PrimaryParentfname">Primary Parent First name:</label><br>
          <input type="text" id="PrimaryParentfname" name="PrimaryParentfname"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="PrimaryParentlname">Primary Parent Last name:</label><br>
          <input type="text" id="PrimaryParentlname" name="PrimaryParentlname"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="PrimaryDOB">Primary Parent Date of Birth:</label><br>
          <input type="date" id="PrimaryParentDOB" name="PrimaryParentDOB"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="PrimaryParentEmail">Primary Parent Email Address:</label><br>
          <input type="email" id="PrimaryParentemail" name="PrimaryParentemail"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="PrimaryMobilePhone">Primary Parent Mobile Phone Number:</label><br>
          <input type="number" id="PrimaryParentMobilePhoneNumber" name="PrimaryParentMobilePhone"><br><br>
        <div class="Childinput-box">
          <label for="SecondaryEthnicity">Primary Parent Ethnicity:</label><br>
          <input type="text" id="PrimaryEthnicity" name="PrimaryEthnicity"><br><br>
        </div>
      </div>

        <div class="PrimaryAddress">
          <h3>Primary Address</h3>
          <div class="Childinput-box">
            <label for="PrimaryStreetAddress">Street Address:</label><br>
            <input type="text" id="PrimaryStreetAddress" name="PrimaryStreetAddress"><br><br>
          </div>
          <div class="Childinput-box">
            <label for="PrimaryPostcode">Postcode:</label><br>
            <input type="text" id="PrimaryPostcode" name="PrimaryPostcode"><br><br>
          </div>
          <div class="Childinput-box">
            <label for="PrimaryTownCity">Town/City:</label><br>
            <input type="text" id="PrimaryTownCity" name="PrimaryTownCity"><br><br>
          </div>
          <div class="Childinput-box">
            <label for="PrimaryHomePhone">Home Phone Number:</label><br>
            <input type="number" id="PrimaryHomePhone" name="PrimaryHomePhone"><br><br>
          </div>
        </div>

      <div class="SecondaryParent">
        <h3>Secondary Parent/Carer Details</h3>
        <div class="Childinput-box">
          <label for="SecondaryParentfname">Secondary Parent/Carer First name:</label><br>
          <input type="text" id="SecondaryParentfname" name="SecondaryParentfname"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="SecondaryParentlname">Secondary/Carer Parent Last name:</label><br>
          <input type="text" id="SecondaryParentlname" name="SecondaryParentlname"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="SeconadryDOB">Secondary Parent/Carer Date of Birth:</label><br>
          <input type="date" id="PrimaryParentDOB" name="PrimaryParentDOB"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="SecondaryParentEmail">Secondary Parent/Carer Email Address:</label><br>
          <input type="email" id="PrimaryParentemail" name="PrimaryParentemail"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="SecondaryMobilePhone">Secondary Parent/Carer Mobile Phone Number:</label><br>
          <input type="number" id="SecondaryParentMobilePhoneNumber" name="SecondaryParentMobilePhone"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="SecondaryEthnicity">Secondary Parent/Carer Ethnicity:</label><br>
          <input type="text" id="SecondaryEthnicity" name="SecondaryEthnicity"><br><br>
        </div>
      </div>

      <div class="SecondaryAddress">
        <h3>Secondary Address</h3>
        <div class="Childinput-box"></div>
          <label for="SecondarystreetAddress">Street Address:</label><br>
          <input type="text" id="SecondaryStreetAddress" name="SecondaryStreetAddress"><br><br>
        </div>
        <div class="Childinput-box"></div>
          <label for="SecondaryPostcode">Postcode:</label><br>
          <input type="text" id="SecondaryPostcode" name="SecondaryPostcode"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="SecondaryTownCity">Town/City:</label><br>
          <input type="text" id="SecondaryTownCity" name="SecondaryTownCity"><br><br>
        </div>
        <div class="Childinput-box"></div>
          <label for="SecondaryHomePhone">Home Phone Number:</label><br>
          <input type="number" id="SecondaryHomePhone" name="SecondaryHomePhone"><br><br>
        </div>
        <div class="Childinput-box"></div>
          <input type="radio" id="SameAsPrimary" name="SameAsPrimary" value="SameAsPrimary">
          <label for="text">Same as Primary Adddress</label><br><br>
        </div>
      
      <div class="ChildDetails">
        <h3>Child Details</h3>
        <div class="Childinput-box">
          <label for="Childfname">Child First name:</label><br>
          <input type="text" id="Childfname" name="Childfname"><br><br>
        
        <div class="Childinput-box">
          <label for="Childlname">Child Last name:</label><br>
          <input type="text" id="Childlname" name="Childname"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="ChildDOB">Child Date of Birth:</label><br>
          <input type="date" id="CDOB" name="CDOB"><br><br>
        </div>
        <div class="Childinput-box">
          <label for="FirstLanguage">First Language:</label><br>
          <input type="text" id="FirstLanguage" name="FirstLanguage"><br><br>
        </div>
        <div class="Childinput-box"></div>
          <label for="ChildEthnicity">Ethnicity:</label><br>
          <input type="text" id="Ethnicity" name="Ethnicity"><br><br>
        </div>
      </div>
      <div class="Eligiblity Criteria">
        <h3>Eligiblity Criteria</h3>
        <div class="Childinput-box">
          <input type="radio" id="LowIncome" name="Eligiblity" value="LowIncome">
          <label for="text">Low-income Household</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="FoodBanks" name="Eligiblity" value="FoodBanks">
          <label for="text">Frequent user of Food banks</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="NoPublicFunds" name="NoPublicFunds" value="NoPublicFunds">
          <label for="text">No access to public funds</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="SocialServices" name="SocialServices" value="SocialServices">
          <label for="text">Children/family under social services</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="AtRisk" name="AtRisk" value="AtRisk">
          <label for="text">At Risk</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="SEND" name="SEND" value="SEND">
          <label for="text">SEND</label><br><br>
        </div>
        <div class="Childinput-box"></div>
          <label for="Other">Other:</label><br>
          <input type="Other" id="Other" name="Other"><br><br>
        </div>
      </div>

      <div class="ChildInterests">
        <h3>Child Interests</h3>
        <div class="Childinput-box">
          <input type="radio" id="Football" name="Football" value="Football">
          <label for="text">Football</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="Cricket" name="Cricket" value="Cricket">
          <label for="text">Cricket</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="Tennis" name="Tennis" value="Tennis">
          <label for="text">Tennis</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="ArtsCrafts" name="ArtsCrafts" value="ArtsCrafts">
          <label for="text">Arts & Crafts</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="Walking" name="Walking" value="Walking">
          <label for="text">Walking</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="Reading" name="Reading" value="Reading">
          <label for="text">Reading</label><br>
        </div>
        <div class="Childinput-box">
          <input type="radio" id="TV" name="TV" value="TV">
          <label for="text">TV Programmes</label><br>
        </div>
        <div class="Childinput-box"></div>
          <input type="radio" id="Film" name="Film" value="Film">
          <label for="text">Favorite film genre</label><br>
        </div>
        <div class="Childinput-box"></div>
          <input type="radio" id="VideoGames" name="VideoGames" value="VideoGames">
          <label for="text">Video Games</label><br><br><br>
        </div>
      </div>
      




      
      <input type="submit" value="Submit">
    </form> 
</body> 