<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="with=device-width, inital-scale=1,0"></meta>
        <title> Start Young UK </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    </head>
        <body>
            <section class="header">
                <nav>
                    <a href="HomePage.html"><img src="images/logo.jpeg"></a>
                    <div class="nav-links" id="navLinks">
                        <i class="fa fa-times" onlclick="hideMenu()"></i>
                        <ul>
                            <li><a href="HomePage.html">HOME</a></li>
                            <li><a href="LoginRegisterPage.html">LOGIN/RESGISTER</a></li>
                            <li><a href="ContactUs.HTML">CONTACT US</a></li>
                        </ul>
                    </div>
                    <i class="fa fa-bars" onlclick="showMenu()"></i>
                </nav>
                <h1>Donate Today</h1>
            </div>
            </section> 
            <section class="Donate-System">
                <h1>Donate</h1>
                <p>Donate Today to Helping Us, Helps a Child</p>
            
                <div class="row">
                    <a href="https://donate.justgiving.com/donation-amount?uri=aHR0cHM6Ly9kb25hdGUtYXBpLmp1c3RnaXZpbmcuY29tL2FwaS9kb25hdGlvbnMvYzZhMjQ5MGVlY2E3NGYyZjhiMmMyOGQ1MWU0NmE0MjU=">
                        <div class="DonateSystem-col">
                            <img src="images/fiver.jpeg">
                            <link href="https://donate.justgiving.com/donation-amount?uri=aHR0cHM6Ly9kb25hdGUtYXBpLmp1c3RnaXZpbmcuY29tL2FwaS9kb25hdGlvbnMvYzZhMjQ5MGVlY2E3NGYyZjhiMmMyOGQ1MWU0NmE0MjU=">
                            <div class="layer">
                                <h3>£5</h3>
                            </div>
                        </div>
                    </a>
                    <div class="DonateSystem-col">
                        <img src="images/tenner.jpeg">
                        <link href="https://donate.justgiving.com/donation-amount?uri=aHR0cHM6Ly9kb25hdGUtYXBpLmp1c3RnaXZpbmcuY29tL2FwaS9kb25hdGlvbnMvYzZhMjQ5MGVlY2E3NGYyZjhiMmMyOGQ1MWU0NmE0MjU=">
                        <div class="layer">
                            <h3>£10</h3>
                        </div>
                    </div>
                    <div class="DonateSystem-col">
                        <img src="images/standingorder.jpeg">
                        <link href="https://donate.justgiving.com/donation-amount?uri=aHR0cHM6Ly9kb25hdGUtYXBpLmp1c3RnaXZpbmcuY29tL2FwaS9kb25hdGlvbnMvYzZhMjQ5MGVlY2E3NGYyZjhiMmMyOGQ1MWU0NmE0MjU=">
                        <div class="layer">
                            <h3>Create Standing Order</h3>
                        </div>
                    </div>
                
                </div>
            </section>
            <section class="footer">
                <h4>Social Media</h4>
                <p>Follow Us for Updates on How We're Helping Young People Surpass there Potential</p>
                <div class="icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </section>
        </body>
</html>