<!DOCTYPE html>
<html>
<head>
    <meta name ="viewport" content="with=device-width, inital-scale=1,0"></meta>
    <title> Start Young UK </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="HomePage.html"><img src="images/logo.jpeg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onlclick="hideMenu()"></i>
                <ul>
                    <li><a href="HomePage">HOME</a></li>
                    <li><a href="LoginRegisterPage">LOGIN/REGISTER</a></li>
                    <li><a href="ContactUs">CONTACT US</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onlclick="showMenu()"></i>
        </nav>
    <div class="text-box">
        <h1>Start Young</h1>
        <p>Empowering Young People to Achieve</p>
        <a href="" class="donate-btn">Donate</a>

    </div>
    </section> 

    <section class="About">
        <h1>Abouts Us</h1>
        <p>A Charity that supports children in poverty</p>

        <div class="row">
            <div class="about-col">
                <h3>About Us</h3>
                <p>It is a sad reality that many areas in the UK are poverty stricken, with many children and young adults going without the basic needs. A group of individuals came together to help and support local schools in East London with a Christmas Gifting Initiative in 2020.Out of this appeal Start Young UK was born.</p>
            </div>
            <div class="about-col">
                <h3> Child Poverty in London</h3>
                <p>The percentage of children aged 0-15 years who are living in households with below 60% average income before housing costs.Newham has the highest number of children living in poverty in the capital</p>
            </div>
            <div class="about-col">
                <h3>Our Aim</h3>
                <p>To work alongside local schools and communities in supporting young people and families in achieving their full potential as a member of the community. Supporting the education career path from 5-16 yrs whilst securing apprenticeships, sponsorships, work experience for the young adults.  We do this by  our buddy system,  imparting knowledge, guidance, life learned lessons, and challenges to instill hope, value and aspiration.</p>
            </div>
        </div>
    </section>

    <section class="The-Buddy-System">
        <h1>The Buddy System</h1>
        <p>The Start Young Buddy plays a key part in making a change in a child's life , they encourage , mentor, value, respect, shift mindset and support throughout the educational road map. Ensuring every child reached their full potential . You can be a sleeping (SYB) or an active (SYB) . In line with safeguarding all (SYB ) contact is through the school and charity.</p>
    
        <div class="row">
            <div class="TheBuddySystem-col">
                <img src="images/buddy.jpeg">
                <div class="layer">
                    <h3>BE A BUDDY</h3>
                </div>
            </div>
            <div class="TheBuddySystem-col">
                <img src="images/letters.jpeg">
                <div class="layer">
                    <h3>WRITE LETTERS</h3>
                </div>
            </div>
            <div class="TheBuddySystem-col">
                <img src="images/sponser.jpeg">
                <div class="layer">
                    <h3>SPONSOR A CHILD</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="HowToGetInvolved">
        <h1>How To Get Involved</h1>
        <p>Get Involved with Start Young and Change a Child's Life Today</p>
        <div class="row">
            <div class="HowToGetInvolved-col">
                <img src="images/becomeabuddy.jpeg">
                <h3>BECOME A BUDDY</h3>
                <p>Become a buddy Today and Help a Child to Surpass there Potential</p>
            </div>
            <div class="HowToGetInvolved-col">
                <img src="images/donate.jpeg.webp">
                <h3>DONATE</h3>
                <p>Donate Today and Help us Reach More Children</p>
            </div>
        <div>
            <div class="HowToGetInvolved-col">
                <img src="images/school.jpeg.webp">
                <h3>REGISTER YOUR SCHOOL</h3>
                <p>Register Your School and Help Your Disadvantaged Students</p>
            </div>
            <div class="HowToGetInvolved-col">
                <img src="images/buisness.jpeg.webp">
                <h3>Become a Orginisation Sponsor</h3>
                <p>Register Your Orgisation to Sponsor Today and Help Thousands of Children Throughout there Education</p>
            </div>

    </section>

    <section class="CaseStudies">
        <h1>Case Studies</h1>
        <p>See How Our Help Supports Children in there Education</p>

        <div class="row">
            <div class="CaseStudies-col">
                <img src ="images/case1.jpeg.webp">
                <div>
                    <p>In Christmas of 2020 we gifted 420 care packages, clothes packages and food hampers  to 120 families. At Christmas most children want designer clothing, latest gadgets and toys . Our children got gloves, underwear , scarves , hats , and a box of sweets and a Christmas cracker.</p>
                    <h3>CHRISTMAS GIFTING</h3>
                </div>
            <div class="CaseStudies-col">
                <img src ="images/case1.jpeg.webp">
                <div>
                    <p>In Christmas of 2020 we gifted 420 care packages, clothes packages and food hampers  to 120 families. At Christmas most children want designer clothing, latest gadgets and toys . Our children got gloves, underwear , scarves , hats , and a box of sweets and a Christmas cracker.</p>
                    <h3>CHRISTMAS GIFTING</h3>
            </div>
        </div>
    </section>

    <section class="ContactUs">
        <h1>Contact Us For More Infomation</h1>
        <a href="" class="hero-btn">CONTACT US</a>
    </section>

    <section class="SocialMedia">
        <h4>Social Media</h4>
        <p>Follow Us for Updates on How We're Helping Young People Surpass there Potential</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>






    <script>

        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px"
        }

    </script>




</body>
</html>