<head>

</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <form>
            <div class="SchoolLocation">
                <h1>Registration</h1>
                <h2>School Location</h2>
                <div class="input-box">
                    <label for="SchoolName">School Name:</label><br>
                    <input type="text" id="SchoolName" name="SchoolName"><br><br> 
                </div>
                <div class="input-box"><
                    <label for="SchoolAddress">School Address:</label><br>
                    <input type="text" id="SchoolAddress" name="SchoolAddress"><br><br>
                </div>
                <div class="input-box"></div>
                    <label for="SchoolPostcode">School Postcode:</label><br>
                    <input type="text" id="Postcode" name="SchoolPostcode"><br><br>
                </div>
                <div class="input-box">
                    <label for="SchoolTownCity">Town/City:</label><br>
                    <input type="text" id="SchoolTownCity" name="SchoolTownCity"><br><br>
                </div>
                <div class="input-box"></div>
                    <label for="LocalAuthority">Local Authority:</label><br>
                    <input type="text" id="LocalAuthority" name="LocalAuthority"><br><br> 
                </div>
                <div class="input-box"></div>
                    <label for="LocalAuthorityRef">Local Authority Reference Number:</label><br>
                    <input type="number" id="LocalAuthorityRef" name="LocalAuthorityRef"><br><br> 
                </div>
            </div>

            <div class="SchoolContactInfo">
                <h2>School Contact Infomation</h2>
                <div class="input-box"></div>
                    <label for="ContactFirstName">Contact First Name:</label><br>
                    <input type="text" id="SchoolContactFirstName" name="SchoolContactFirstName"><br><br>
                </div>
                <div class="input-box"></div>
                    <label for="SchoolContactFirstName">Contact Surname:</label><br>
                    <input type="text" id="SchoolContactFirstName" name="SchoolContactFirstName"><br><br>
                </div>
                <div class="input-box">
                    <label for="ContactRole">Contact's Role:</label><br>
                    <input type="text" id="SchoolRole" name="SchoolRole"><br><br>
                </div>
                <div class="input-box">
                    <label for="ContactEmail">Contact Email:</label><br>
                    <input type="email" id="ContactEmail" name="ContactEmail"><br><br>
                </div>
            </div>
            <input type="submit" value="Submit">














        </form>
    </div>
</body>